<div class="mx-auto max-w-7xl mb-4 px-4 sm:px-6 lg:px-8">
  <%= form_with model: @invite do |form| %>
    <div class="space-y-4">
      <%= render "shared/form_header", title: "Invite a teammate", description: "Add your spouse, grandparent, or other cellphone wielding adult in your child's life to your team. Your players will be able to play and make progress on their goals logged in as another user on your team." %>
      <%= render "shared/email_field", form: form, model: @invite, placeholder: "teammate@example.com", description: "Add your spouse, grandparent or other cellphone wielding adult in your child's life." %>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <%= form.submit "Send invite", class: "rounded-md bg-cyan-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600" %>
      </div>
    <% end %>
  </div>
</div>
