<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body class="prose lg:prose-xl">
    <p>
      Here is your ✨ <%= link_to "link", accept_invite_url(token: @token) %> ✨ to join to domath.io. It will expire in 1 day.
    </p>
  </body>
</html>
