<div class="px-4 sm:px-6 lg:px-8">
  <ul role="list" class="divide-y divide-gray-100">
    <%= render "admin_link", title: "Problems", description: "A view into the problems we present to players.", path: admin_problems_path %>
  </ul>
</div>
