<div class="px-4 py-5 sm:p-6">
  <dt class="text-base font-normal text-gray-900">
    <%= title %>
  </dt>
  <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
    <div class="flex items-baseline text-2xl font-semibold text-cyan-600">
      <%= number %>
      <span class="ml-2 text-sm font-medium text-gray-500">
        <%= subtitle %>
      </span>
    </div>
    <%= yield %>
  </dd>
</div>
