<footer>
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left">Alpha: v.0.6</div>
  </div>
</footer>
