<div class="md:flex md:items-center md:justify-between">
  <%= render(FormHeaderComponent.new(title: title, subtitle: subtitle, description: description)) %>
  <div class="mt-5 sm:ml-10 sm:mt-4 sm:flex sm:pl-4 space-x-2">
    <%= render(SecondaryLinkButtonComponent.new(text: secondary_text, path: secondary_path)) %>
    <% if button %>
      <%= render(PrimaryButtonComponent.new(text: primary_text, path: primary_path)) %>
    <% else %>
      <%= render(PrimaryLinkButtonComponent.new(text: primary_text, path: primary_path)) %>
    <% end %>
  </div>
</div>
