<div class="grid grid-cols-3 justify-items-center">
  <div class="col-span-1 col-start-2 pt-32">
    <%= render partial: "shared/button", locals: { path: game_path, text: "New game" } %>
  </div>
</div>
