<div class="grid grid-cols-3 grid-rows-3 gap-1 sm:text-9xl text-right text-7xl">
  <div class="col-span-1 row-span-2 sm:ml-14 self-center">
    <p><%= @problem.operation_symbol %></p>
  </div>
  <div class="col-span-1 row-span-1">
    <p><%= @problem.x %></p>
  </div>
  <div class="col-span-1 col-start-2 row-span-1 row-start-2 border-b-8 border-black">
    <p><%= @problem.y %></p>
  </div>
  <div class="col-span-1 col-start-2 row-span-1 row-start-3">
    <%= render partial: "shared/button", locals: { path: game_path, text: "Next" } %>
  </div>
</div>
