<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body class="prose lg:prose-xl">
    <p>
      Here is your ✨ <%= link_to "link", login_url(token: @token, redirect_path: @redirect_path) %> ✨ to login to domath.io.
      It will expire in 15 minutes.
    </p>
  </body>
</html>
